<div class="tag-wrapper">
  <% taglists.each do |taglist| %>
    <span class="tag">
     <i class="fas fa-tags"></i>
        <%= link_to "#{taglist.name}(#{News.where('tag LIKE?', "%#{taglist.name}%").count})", 
        home_search_path(searchword: "#{taglist.name}"), 
       style: "text-decoration:none; color: white;" %>
     </span>
  <% end %>
</div>