/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,body{
  width: 100%;
  height: 100%;
  margin: 0px; /* デフォルトのマージンを消す*/
}

header{
  background-color: skyblue;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
}

footer{
  font-size: 14px;
  background-color: skyblue;
  width: 100%;
  height: 8%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
}

h1 {
position: relative;
margin-left: 10%;
margin-bottom: 50px;
}

h1.regulation{
  text-align: center;
}

h1:after {
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 50%;
height: 7px;
background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
}

h2{
  width: 80%;
  text-align: center;
  margin: 3% auto;
}

input#searchsubmit{
  font-size: 12px;
  background-color: black;
  border-style: none;
  color: white;
}


/* ページ全体を包む箱。フッターを最下部に表示するために必要 使用中*/
.all-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

/* コンテンツを包む箱。フッターを最下部に表示するために必要。使用中*/
.contents-wrapper{
  height: 80%;
  padding-bottom: 5%;
  overflow: auto;
}

/* ニュース検索用 */

#searchform{
  width: 30%;
  position: absolute;
  right: 0;
}

#searchtextfield{
  width: 80%;
  height: 30px;
  font-size:16px;
}

#searchbutton{
  border-style: none;
  background-color: skyblue;
  cursor: pointer;
}

/* ニュース検索用　終わり */


/* 新規登録、ログインボタン*/

.square_btn {
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 8px;
    transition: .4s;
    background-color: white;
    margin-right: 2%;
}

.square_btn:hover {
    background: #67c5ff;
    color: white;
}

/*新規登録、ログインボタン 終わり*/

.nocomment{
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
}

.logo{
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding-left: 3%;
  padding-right: 3%;
}

.index{
  width: 80%;
  border: solid 1px none;
  border-radius: 5px;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(126,235,171,0.09);
}

.show-wrapper{
  width: 80%;
  border: solid 1px none;
  border-radius: 5px;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 80px;
  background-color: rgba(126,235,171,0.09);
}

.bookmark{
  color: red;
  font-weight: bold;
}

.bookmark_btn {
  display: inline-block;
  padding: 0.3em 1em;
  margin-left: 10px;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.bookmark_btn:hover {
  background: #67c5ff;
  color: white;
}

.unbookmark_btn {
  display: inline-block;
  padding: 0.3em 1em;
  margin-left: 10px;
  text-decoration: none;
  color: #ff7f50;
  border: solid 2px #ff7f50;
  border-radius: 3px;
  transition: .4s;
}

.unbookmark_btn:hover {
  background: #ff7f50;
  color: white;
}

.comments{
  color: blue;
  font-weight: bold;
}

.comment_btn {
  display: inline-block;
  background-color: white;
  font-size: 15px;
  padding: 0.3em 1em;
  margin-left: 10px;
  text-decoration: none;
  color: #ff7f50;
  border: solid 2px #ff7f50;
  border-radius: 3px;
  transition: .4s;
}

.comment_btn:hover {
  background: #ff7f50;
  color: white;
}

.tag{
  border: solid 1px none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: skyblue;
  color: white;
}

.title{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.bookmark-wrapper{
  margin: 10px;
}

.explain-wrapper{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.search-wrapper{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  width: 40%;
  margin: 50px auto 0 auto;
}

/* 部分テンプレートarrangement用 */
.arrange-wrapper{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.arrange_icon{
  float: left;
  width: 25%;
}

.arrange_icon2{
  float: left;
  width: 33%;
}

.arrange_text{
  font-size: 14px;
  width: 100%;
  display: none;
}
/* 部分テンプレートarrangement用 終わり*/


.errormessage{
  background-color: #ffefef;
  padding-left: 10px;
  margin: 50px auto;
  color: #c25338;
  border: solid 1px #d4440d;
  width: 80%;
}

.commentbox{
  width: 80%;
  height: 80px;
}

.tag-wrapper{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
}

.imagestyle{
  padding: 20px 20px 5px 20px;
}

.news-wrapper{
  width: 100%;
  position: relative;
  padding-bottom: 5px;
}

.picture-wrapper{
  width: 20%;
  display: inline-block;
}

.comment-wrapper{
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 25%;
  width: 70%;
}


/* devise用のスタイル */

form.button_to{
  text-align: center;
  margin-top: 10%;
}

.notice{
  width: 80%;
  margin: 5% auto;
  padding: 10px 0;
  font-weight: bold;
  background: rgba(71, 234, 126, 0.3);
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
}

p.topfont{
  font-size: 40px;
  width: 20%;
  margin: 50px auto;
  text-align: center;
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

p.topfont2{
  font-size: 30px;
  width: 40%;
  margin: 50px auto;
  text-align: center;
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

.field{
  width: 20%;
  text-align: center;
  margin: 30px auto;
}

input#user_email{
  width: 100%;
}

input#user_password{
  width: 100%;
}

input#user_job{
  width: 100%;
}

input#user_address{
  width: 100%;
}

input#user_current_password{
  width: 100%;
}

input#user_introduction{
  width: 100%;
  height: 80px;
}

input#user_password_confirmation{
  width: 100%;
}


input#user_nickname{
  width: 100%;
}

.actions{
  width: 20%;
  text-align: center;
  margin: 50px auto 30px auto;
}

.actions input{
  width: 100%;
  font-size: 20px;
  background-color: black;
  border-style: none;
  color: white;
}

.actions2{
  width: 20%;
  text-align: center;
  margin: 50px auto 30px auto;
}

.actions2 input{
  width: 100%;
  font-size: 20px;
  background-color: black;
  border-style: none;
  color: white;
}

.sharedlinks-wrapper{
  width: 20%;
  text-align: center;
  margin: 70px auto;
}

.password_explanation{
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* devise用のスタイル終わり */


/* ユーザーのコメント表示用 */
.user_comment_wrapper{
  margin: 40px 0 10px 0;
  padding-left: 100px;
}

.image_name_wrapper{
  display: flex;
  align-items: center;
}

.name_wrapper{
  padding-left: 20px;
}
/* ユーザーのコメント表示用終わり */


/* マイページ用 */
.mypage_image{
  text-align: center;
  margin-top: 4%;
}

.mypage_nickname{
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
}

.mypage_job{
  text-align: center;
  color: gray;
}

.mypage_introduction{
  text-align: center;
  width: 60%;
  margin: 4% auto 0 auto;
  border-radius: 10px;
  padding: 0.5em 1em;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* マイページ用終わり */


/*about、利用規約、contact用*/

.regulation{
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
}