<p> <%= @resource.email %>様</p>

<br>

<p>お問い合わせいただきありがとうございます。</p>
<p>下記リンクからTechcollect.のパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<br>

<p>もしあなたがパスワード変更の要求をされていない場合、このメールは無視してください。</p>
<p>上記のリンクからパスワードを変更しない限り、パスワードは現在のまま維持されます。</p>
